a. Goal
This ontology model aims at providing a review of the characteristics of an attack against an AI system and support decision making regarding mitigations and taking countermeasures. The user of this ontology model might be any IT professional.

b. Competency Questions
General:
Attack
- In which phase of the AI lifecycle does the attack take place? (Data acquisition, Data pre-processing, Training, Exploitation)
- Which cybersecurity core principle is violated? (Confidentiality, Integrity, Availability)
- What is the type of the attacked AI model? (Classification, Anomaly detection, Clustering, Pattern mining and association rules, Regression, Generative AI, Agentic AI)
Attacker
- What kind of access does the attacker have to the model? (Whitebox, Gray box, Blackbox)
- What is the skill level of the attacker? (Beginner, Advanced, Highly skilled)
Mitigation
- **What mitigations can be done? (many examples)
- In which phase of the AI lifecycle should the mitigation be implemented? (Data acquisition, Data pre-processing, Training, Exploitation)

If instances are known:
Attacker
- What relation does the attack have to the victim? (e.g. employee, competitior, none)
- What is the goal of the attacker? (evade spam/malware detection, tamper with typing-based authentication, etc.)
- What critical sector can be affected by the attack? (Transport, Healthcare, Space, Science, Finance & banking, Manufacturing, Energy, Commercial)


ML Top 10:
▪ ML01:2023 Input Manipulation Attack
▪ ML02:2023 Data Poisoning Attack
▪ ML03:2023 Model Inversion Attack
▪ ML04:2023 Membership Inference Attack
▪ ML05:2023 Model Theft
▪ ML06:2023 AI Supply Chain Attacks
▪ ML07:2023 Transfer Learning Attack
▪ ML08:2023 Model Skewing
▪ ML09:2023 Output Integrity Attack
▪ ML10:2023 Model Poisoning

LLM Top 10:
▪ LLM01:2025 Prompt Injection
▪ LLM02:2025 Sensitive Information Disclosure
▪ LLM03:2025 Supply Chain
▪ LLM04: Data and Model Poisoning
▪ LLM05:2025 Improper Output Handling
▪ LLM06:2025 Excessive Agency
▪ LLM07:2025 System Prompt Leakage 
▪ LLM08:2025 Vector and Embedding Weaknesses
▪ LLM09:2025 Misinformation
▪ LLM10:2025 Unbounded Consumption

Agentic AI Top 10:
▪ ASI01: Agent Goal Hijack
▪ ASI02: Tool Misuse and Exploitation
▪ ASI03: Identity and Privilege Abuse
▪ ASI04: Agentic Supply Chain Vulnerabilities
▪ ASI05: Unexpected Code Execution (RCE)
▪ ASI06: Memory & Context Poisoning
▪ ASI07: Insecure Inter-Agent Communication
▪ ASI08: Cascading Failures
▪ ASI09: Human-Agent Trust Exploitation
▪ ASI10: Rogue Agents
